<footer class="footer">
  <div class="footer-content">

    
    <div class="footer-brand">
      <h3>
        <i class="fa-solid fa-mountain-city"></i>
        HomeStay
      </h3>

      <p>
        Discover unique stays, cabins and unforgettable experiences around the world.
      </p>

      <div class="social-icons">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-linkedin-in"></i>
      </div>
    </div>

   
    <div class="footer-column">
      <h6>Explore</h6>
      <a href="/listings?category=Amazing Views">Amazing Views</a>
<a href="/listings?category=Trending">Trending</a>
<a href="/listings?category=Camping">Camping</a>
<a href="/listings?category=Amazing Pools">Pools</a>
<a href="/listings?category=Castles">Castles</a>
    </div>

   
    <div class="footer-column">
      <h6>Hosting</h6>
      <a href="/listings/new">Add Your Home</a>
      <a href="#">Host Resources</a>
      <a href="#">Community</a>
    </div>

    
    <div class="footer-column">
      <h6>Support</h6>
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
      <a href="/sitemap">Sitemap</a>
      <a href="/company-details">Company Details</a>
    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2025 HomeStay Private Limited. All rights reserved.</p>

    <div class="footer-bottom-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
      <a href="/sitemap">Sitemap</a>
    </div>
  </div>
</footer>