<!DOCTYPE html>
<html>
<head>
    <title>Add Listing</title>
</head>
<body>

<h1>Add New Stay 🏡</h1>

<form action="/listings" method="POST">
    <input name="title" placeholder="Title"><br><br>
    <input name="location" placeholder="Location"><br><br>
    <input name="price" placeholder="Price"><br><br>
    <button>Add Listing</button>
</form>

</body>
</html>