<% layout("layouts/boilerplate") %>
<div class="container my-5">
  <h2 class="fw-bold mb-4">Sitemap</h2>
  <div class="row">
    <div class="col-md-3">
      <h6 class="fw-bold">Explore</h6>
      <ul class="list-unstyled">
        <li><a href="/listings">All Listings</a></li>
        <li><a href="/listings?category=Amazing Views">Amazing Views</a></li>
        <li><a href="/listings?category=Trending">Trending</a></li>
        <li><a href="/listings?category=Camping">Camping</a></li>
        <li><a href="/listings?category=Amazing Pools">Amazing Pools</a></li>
        <li><a href="/listings?category=Castles">Castles</a></li>
        <li><a href="/listings?category=Arctic">Arctic</a></li>
        <li><a href="/listings?category=Bed+%26+Breakfasts">Bed & Breakfasts</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h6 class="fw-bold">Hosting</h6>
      <ul class="list-unstyled">
        <li><a href="/listings/new">Add Your Home</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h6 class="fw-bold">Account</h6>
      <ul class="list-unstyled">
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h6 class="fw-bold">Support</h6>
      <ul class="list-unstyled">
        <li><a href="/privacy">Privacy</a></li>
        <li><a href="/terms">Terms</a></li>
        <li><a href="/company-details">Company Details</a></li>
      </ul>
    </div>
  </div>
</div>